.bg-color {
  background-color: rgb(56 56 56);
}

.textColor{
  color:#fff;
}
.imageContainer{
  border-radius: 5px;
}
.container{
  padding:1rem;
}

.buttons button, .buttons div{
  color:#fff;
  border-color: #fff;
}
